.title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 20px;
}

.field label {
  font-size: 14px;
  font-weight: 600;
}

.field textarea {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.field input {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.select {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.createButton {
  padding: 8px 16px;
  background-color: #2563eb;
  /* 青 */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.createButton:hover {
  background-color: #1d4ed8;
}

.deleteButton {
  padding: 8px 16px;
  background-color: #eb2525;
  /* 青 */
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d81d1d;
}