.article {
  display: block;
  border-color: #3e3f3f41;
  border-width: 1px;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.thumbnail {
  display: block;
  margin: 50px auto 10px auto;
}

.categories {
  border: solid;
  border-radius: 10%;
  border-color: #3d2cae86;
  border-width: 1px;
  color: #3d2cae86;
  margin: 5px;
}